<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <% users.forEach(function(e) { %>
            <li><strong><%= e.first_name %></strong></li>
            <li><strong><%= e.last_name %></strong></li>
            <li><strong><%= e.email %></strong></li>
            <hr>
        <% }); %>
    </ul>

    <% for (let i =1; i <=totalPages;  i++ ) { %>
        <a href="http://localhost:2364/users?page=<%= i %>"><button><%= i %></button></a>
    <% } %>

</body>
</html>